.container {
    padding: 10px 20px;
}

.title {
    padding: 10px;
    font-weight: bold;
}

.records {
    padding: 10px;
}

.records__line {
    padding: 5px 0px;
}

.records__id {
    padding: 0px 10px 0px 0px;
    font-weight: bold;
}

.records__detail {
    padding: 1px 7px 1px 7px;
    color: white;
    background-color:#4565cf;
    border-radius: 4px 4px 4px 4px;
    text-decoration: none;
}

.button__restore {
    padding: 3px 10px 3px 10px;
    color: white;
    background-color:#0ea55e;
    border-radius: 4px 4px 4px 4px;
}
