.records__id {
    padding: 0px 10px 0px 0px;
    font-weight: bold;
}

.records__label {
    padding: 0px 0px 0px 5px;
}

.records__date {
    padding: 0px 12px 0px 12px;
    color: #a3a0a0;
    font-size: 14px;
}

.records__detail {
    padding: 3px 10px 3px 10px;
    color: white;
    background-color:#4565cf;
    border-radius: 4px 4px 4px 4px;
    text-decoration: none;
}

.button_restore {
    padding: 3px 10px 3px 10px;
    color: white;
    background-color:#0ea55e;
    border-radius: 4px 4px 4px 4px;
    text-decoration: none;
}
